

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--main-gutter-top);
}
.profileName {
  font-size: var(--font-size-md);
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-align: center;
}
.profileBio {
  font-size: var(--font-size-base);
  color: var(--fg-muted);
  text-align: center;
  margin-bottom: 0.5rem;
}
